*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border{
  border: 0.5px solid;
  border-color: #fe3d4d;
  border-radius: 45px;
  width: 95%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
}
p, .fulvous, .autor{
  padding: 15px;
}
a{
  color:#0311d1;
  text-decoration: underline;
}
div > p:nth-child(even){
  color:#ff3935;
}
div > p:nth-child(odd){
  color: #4f9f4e;
}
.fulvous{
  color:#d13710;
}
.autor{
  text-align: right;
  font-style: italic;
  font-size: 85%;
  color:#000 !important;
}